* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
    margin-bottom: 30px;
}
body {
	margin: 0;
	padding: 0;
	background-color: white;
}
/* grey box with content */

div {
	padding: 10px;
	padding-top: 50px;
    text-align: left;
 }
div#container {
	background-color: #7c7777;
	border: 2px solid black;
	float: left;
	position: relative;
    margin: 10px;
    height: 300px;
}
/* color boxes inside grey box with menu items*/
p {
text-align: center; 
padding: 3px; 
border: 2px solid black;
font-size: 20px;
position: absolute;
right: 0px;
top: 0px;
}
#p1 {
	background-color: #bd8787;
}
#p2 {
	background-color: #f3332a;
}
#p3 {
	background-color: #e5e482;
}
/*
@media (min-width: 992px) {
      .col-lg-1, .col-lg-2, .col-lg-3
      {float: left;
      	background-color: gray;
        border: 1px solid black;
        padding: 2px;
        margin-top: 10px;
      }
      .col-lg-1 {
        width: 33.33%;
      }
      .col-lg-2 {
        width: 66.66%;
      }
      .col-lg-3 {
        width: 100%;
      }}
@media (min-width: 768px) and (max-width: 991px) {
      .col-md-1, .col-md-2, .col-md-3
      {float: left;
      }
      .col-md-1 {
        width: 50%;
      }
      .col-md-2 {
        width: 100%;
      }
      .col-md-3 {
        width: 100%;
      }}
@media (max-width: 767px) {
      .col-xs-1, .col-xs-2, .col-xs-3
      {float: left;
      }
      .col-xs-1 {
        width: 100%;
      }
      .col-xs-2 {
        width: 100%;
      }
      .col-xs-3 {
        width: 100%;
      }}
      */

